@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <title>Calendário da F1 2022</title>
</div>
<link rel= "stylesheet" href="~/css/Style.css" type="text/css"/>
<body>
    <main class="class">
        <h1>Calendário da F1 20222</h1>
    <h6>Datas, horário e local dos treinos de pré temporada da F1 2022:</h6>
    <table class="definicaodetables table table-striped" border=1>
        <tr class="definicaodetr">
            <td class="definicaodetr">Data</td>
            <td class="definicaodetr">País</td>
            <td class="definicaodetr">Pré Temporada</td>
        </tr>
        <tr>
            <th>25 de Fevereiro</th>
            <th><img class="bandeiras" src="~/img/espanha.jpg"></th>
            <th>Pré Temporada de Barcelona</th>
        </tr>
        <tr>
            <th>12 de Março</th>
            <th><img class="bandeiras" src="~/img/bahrein.jpg"></th>
            <th>Testes no Bahrein</th>
        </tr>

    </table>
    <br>
    <h3>Provas de 2022</h3><br>
    <table class="definicaodetables table table-striped" border=1>
        <tr>
            <th class="definicaodetr">Data</th>
            <th class="definicaodetr">País</th>
            <th class="definicaodetr">Grande Prêmio</th>
            <th class="definicaodetr">Vencedor</th>
            <th class="definicaodetr">2º Colocado</th>
            <th class="definicaodetr">3º Colocado</th>
        </tr>
        <tr>
            <th>20 de Março</th>
            <th><img  class="bandeiras" src="~/img/bahrein.jpg"></th>
            <th>Barcelona</th>
            <th>Charles Leclerc - FERRARI</th>
            <th>Carlos Sainz - FERRARI</th>
            <th>Lewis Hamilton - MERCEDES</th>
        </tr>
        <tr>
            <th>27 de Março</th>
            <th><img class="bandeiras" src="~/img/arabiasaudita.jpg"></th>
            <th>GP da Arábia Saudita</th>
            <th>Max Verstappen - REDBULL</th>
            <th>Charles Leclerc - FERRARI</th>
            <th>Carlos Sainz Jr. - FERRARI</th>
        </tr>
        <tr>
            <th>10 de Abril</th>
            <th><img class="bandeiras" src="~/img/australia.jpg"></th>
            <th>GP da Austrália</th>
            <th>Charles Leclerc - FERRARI</th>
            <th>Sérgio Perez - REDBULL</th>
            <th>George Russell - MERCEDES</th>
        </tr>
        <tr>
            <th>24 de Abril</th>
            <th><img class="bandeiras" src="~/img/italia.jpg"></th>
            <th>GP da Emilia Romagna</th>
            <th>Max Verstappen - REDBULL</th>
            <th>Sérgio Perez - REDBULL</th>
            <th>Lando Norris - MCLAREN</th>
        </tr>
        <tr>
            <th>08 de Maio</th>
            <th><img class="bandeiras" src="~/img/estadosunidos.jpg"></th>
            <th>GP da Miami</th>
            <th>Max Verstappen - REDBULL</th>
            <th>Charles Leclerc - FERRARI</th>
            <th>Carlos Sainz Jr. - FERRARI</th>
        </tr>
        <tr>
            <th>22 de Maio</th>
            <th><img class="bandeiras" src="~/img/espanha.jpg"></th>
            <th>GP da Espanha</th>
            <th>Max Verstappen - REDBULL</th>
            <th>Sergio Perez - REDBULL</th>
            <th>George Russell - MERCEDES</th>
        </tr>
        <tr>
            <th>29 de Maio</th>
            <th><img class="bandeiras" src="~/img/bandeiramonaco.jpg"></th>
            <th>GP de Mônaco</th>
            <th>Sérgio Perez - REDBULL</th>
            <th>Carlos Sainz Jr. - FERRARI</th>
            <th>Max Verstappen - REDBULL</th>
        </tr>
        <tr>
            <th>12 de Junho</th>
            <th><img class="bandeiras" src="~/img/azerbaijao.jpg"></th>
            <th>GP de Azerbaijão</th>
            <th>Max Verstapen - REDBULL</th>
            <th>Sérgio Perez - REDBULL</th>
            <th>George Russell - MERCEDES</th>
        </tr>
        <tr>
            <th>19 de Junho</th>
            <th><img class="bandeiras" src="~/img/canada.jpg"></th>
            <th>GP do Canadá</th>
            <th>Max Verstapen - REDBULL</th>
            <th>Carlos Sainz Jr. - FERRARI</th>
            <th>Lewis Hamilton - MERCEDES</th>
        </tr>
         <tr>
            <th>03 de Julho</th>
            <th><img class="bandeiras" src="~/img/inglaterra.jpg"></th>
            <th>GP da Grã-Bretanha</th>
            <th>Carlos Sainz Jr. - FERRARI</th>
            <th>Sérgio Perez - REDBULL</th>
            <th>Lewis Hamilton - MERCEDES</th>
        </tr>
         <tr>
            <th>10 de Julho</th>
            <th><img class="bandeiras" src="~/img/austria.jpg"></th>
            <th>GP da Austria</th>
            <th>Charles Leclerc - FERRARI</th>
            <th>Max Verstappen - REDBULL</th>
            <th>Lewis Hamilton - MERCEDES</th>
        </tr>
         <tr>
            <th>24 de Junho</th>
            <th><img class="bandeiras" src="~/img/franca.jpg"></th>
            <th>GP da França</th>
            <th>Max Verstapen - REDBULL</th>
            <th>Lewis Hamilton - MERCEDES</th>
            <th>George Russell - MERCEDES</th>
        </tr>
         <tr>
            <th>19 de Junho</th>
            <th><img class="bandeiras" src="~/img/canada.jpg"></th>
            <th>GP do Canadá</th>
            <th>Max Verstapen - REDBULL</th>
            <th>Carlos Sainz Jr. - FERRARI</th>
            <th>Lewis Hamilton - MERCEDES</th>
        </tr>
         <tr>
            <th>31 de Julho</th>
            <th><img class="bandeiras" src="~/img/hungria.jpg"></th>
            <th>GP da Hungria</th>
            <th>Max Verstapen - REDBULL</th>
            <th>Lewis Hamilton - MERCEDES</th>
            <th>George Russell - MERCEDES</th>
        </tr>
         <tr>
            <th>28 de Agosto</th>
            <th><img class="bandeiras" src="~/img/belgica.jpg"></th>
            <th>GP do Bélgica</th>
            <th>Max Verstapen - REDBULL</th>
            <th>Sérgio Perez - REDBULL</th>
            <th>Carlos Sainz Jr. - FERRARI</th>
        </tr>
         <tr>
            <th>04 de Setembro</th>
            <th><img class="bandeiras" src="~/img/holanda.jpg"></th>
            <th>GP da Holanda</th>
            <th>Max Verstapen - REDBULL</th>
            <th>George Russell - MERCEDES</th>
            <th>Charles Leclerc - FERRARI</th>
        </tr>
         <tr>
            <th>11 de Setembro</th>
            <th><img class="bandeiras" src="~/img/italia.jpg"></th>
            <th>GP da Itália (Monza)</th>
            <th>Max Verstapen - REDBULL</th>
            <th>Charles Leclerc - FERRARI</th>
            <th>George Russell - MERCEDES</th>
        </tr>
        <tr>
            <th>25 de Setembro</th>
            <th><img class="bandeiras" src="~/img/russia.jpg"></th>
            <th>GP da Russia</th>
            <th>EVENTO</th>   
            <th>CANCELADO</th> 
            <th></th> 
        </tr>
        <tr>
            <th>02 de Outubro</th>
            <th><img class="bandeiras" src="~/img/singapura.jpg"></th>
            <th>GP de Singapura</th>
            <th>Sérgio Perez - REDBULL</th>
            <th>Charles Leclerc - FERRARI</th>
            <th>Carlos Sainz Jr. - FERRARI</th>
        </tr>
        <tr>
            <th>09 de Outubro</th>
            <th><img class="bandeiras" src="~/img/japao.jpg"></th>
            <th>GP do Japão</th>
            <th>Max Verstapen - REDBULL</th>
            <th>Sérgio Perez - REDBULL</th>
            <th>Charles Leclerc - FERRARI</th>
        </tr>
        <tr>
            <th>23 de Outubro</th>
            <th><img class="bandeiras" src="~/img/estadosunidos.jpg"></th>
            <th>GP dos Estados Unidos</th>
            <th>Max Verstapen - REDBULL</th>
            <th>Lewis Hamilton - MERCEDES</th>
            <th>Charles Leclerc - FERRARI</th>
        </tr>
        <tr>
            <th>30 de Outubro</th>
            <th><img class="bandeiras" src="~/img/mexico.jpg"></th>
            <th>GP da Cidade do México</th>
            <th> - </th>
            <th> - </th>
            <th> - </th>
        </tr>
        <tr>
            <th>13 de Novembro</th>
            <th><img class="bandeiras" src="~/img/brasil.jpg"></th>
            <th>GP de São Paulo</th>
            <th> - </th>
            <th> - </th>
            <th> - </th>
        </tr>
          <tr>
            <th>20 de Novembro</th>
            <th><img class="bandeiras" src="~/img/abudabi.jpg"></th>
            <th>Abu Dhabi GP</th>
            <th> - </th>
            <th> - </th>
            <th> - </th>
        </tr>  
    </table>
     </main>
<br>
<br>

<div class="divisao">
    <a href="">CONTATO</a> <p>|</p>
    <a href="">POLITICA DE PRIVACIDADE</a> <p>|</p>
    <a href="">ANUNCIE AQUI</a> <p>|</p>
    <a href="">SOBRE NÓS</a> <p>|</p>
</div>

</main>

</body>
</html>



