@{
    ViewData["Title"] = "Home Page";
}

<head>
  <title>Equipes e Pilotos</title>
</head>
<body>
    <header>
        <h1 align="center">Equipes e Pilotos da F1 2022</h1>  
    </header>
    <div class="displayequipesepilotos">
        <div class="segmentequipes">
            <p class="letraequip">Red Bull Racing</p><br>
            <div class="equipe"><img class="imgequpes" src="~/img/logo redbull.jpg"></div>
            <div class="segmentepilotos"><div><img class="imgpilotos" src="~/img/Verstappen.png"><figcaption>Max Verstappen</figcaption></div>
            <div><img class="imgpilotos" src="~/img/perez.jpg"><figcaption>Sérgio Perez</figcaption></div></div>
        </div>
        <div class="segmentequipes">
            <p class="letraequip">Mercedes AMG <br>Motorsport</p><br>
            <div class="equipe"><img class="imgequpes" src="~/img/logo mercedes.jpg"></div>
            <div class="segmentepilotos"><div><img class="imgpilotos" src="~/img/hamilton.jpg"><figcaption>Lewis Hamilton</figcaption></div> 
            <div><img class="imgpilotos" src="~/img/russel.jpg"><figcaption>George Russell</figcaption></div></div>
        </div>
        <div class="segmentequipes">
            <p class="letraequip">Scuderia Ferrari</p><br>
            <div class="equipe"><img class="imgequpes" src="~/img/logo ferrari.jpg"></div>
            <div class="segmentepilotos"><div><img class="imgpilotos" src="~/img/Charles.jpg"><figcaption>Charles Leclerc</figcaption></div> 
            <div><img class="imgpilotos" src="~/img/sainz.jpg"><figcaption>Carlos Sainz Jr.</figcaption></div></div> 
        </div>
        <div class="segmentequipes">
            <p class="letraequip">McLaren Racing</p><br>
            <div class="equipe"><img class="imgequpes" src="~/img/logo mclaren.jpg"></div>
            <div class="segmentepilotos"><div><img class="imgpilotos" src="~/img/norris.jpg"><figcaption>Lando Norris</figcaption></div> 
            <div><img class="imgpilotos" src="~/img/ricciardo.jpg"><figcaption>Daniel Ricciardo</figcaption></div></div>
        </div>
        <div class="segmentequipes">
            <p class="letraequip">Alpine F1 Team</p><br>
            <div class="equipe"><img class="imgequpes" src="~/img/logo alpine.jpg"></div>
            <div class="segmentepilotos"><div><img class="imgpilotos" src="~/img/alonso.jpg"><figcaption>Fernando Alonso</figcaption></div> 
            <div><img class="imgpilotos" src="~/img/ocon.jpg"><figcaption>Esteban Ocon</figcaption></div></div>
        </div>
        <div class="segmentequipes">
            <p class="letraequip">Scuderia AlphaTauri</p><br>
            <div class="equipe"><img class="imgequpes" src="~/img/logo alphatauri.jpg"></div>
            <div class="segmentepilotos"><div><img class="imgpilotos" src="~/img/gasly.jpg"><figcaption>Pierre Gasly</figcaption></div>
            <div><img class="imgpilotos" src="~/img/tsunoda.jpg"><figcaption>Yuki Tsunoda</figcaption></div></div> 
        </div>
        <div class="segmentequipes">
            <p class="letraequip">Aston Martin</p><br>
            <div class="equipe"><img class="imgequpes" src="~/img/logo astonmartin.jpg"></div>
            <div class="segmentepilotos"><div><img class="imgpilotos" src="~/img/vettel.jpg"><figcaption>Sebastian Vettel</figcaption></div> 
            <div><img class="imgpilotos" src="~/img/stroll.jpg"><figcaption>Lance Stroll</figcaption></div></div> 
        </div>
        <div class="segmentequipes">
            <p class="letraequip">Alfa Romeo Racing</p><br>
            <div class="equipe"><img class="imgequpes" src="~/img/logo alpharomeo.jpg"></div>
            <div class="segmentepilotos"><div><img class="imgpilotos" src="~/img/bottas.jpg"><figcaption>Valteri Bottas</figcaption></div> 
            <div><img class="imgpilotos" src="~/img/zhou.jpg"><figcaption>Guanyu Zhou</figcaption></div></div> 
        </div>
        <div class="segmentequipes">
            <p class="letraequip">Haas F1 Team</p><br>
            <div class="equipe"><img class="imgequpes" src="~/img/HAAS.jpg"></div>
            <div class="segmentepilotos"><div><img class="imgpilotos" src="~/img/magnussen.jpg"><figcaption>Kevin Magnussen</figcaption></div> 
            <div><img class="imgpilotos" src="~/img/mick.jpg"><figcaption>Mick Schumacher</figcaption></div></div>
        </div>
        <div class="segmentequipes">
            <p class="letraequip">Willians Racing</p><br>
            <div class="equipe"><img class="imgequpes" src="~/img/logo willians.jpg"></div>
            <div class="segmentepilotos"><div><img class="imgpilotos" src="~/img/albon.jpg"><figcaption>Alex Albon</figcaption></div> 
            <div><img class="imgpilotos" src="~/img/latifi.jpg"><figcaption>Nicolas Latifi</figcaption></div></div>
        </div>
    </div>

    <br>
<br>

<div class="divisao">
    <a href="">CONTATO</a> <p>|</p>
    <a href="">POLITICA DE PRIVACIDADE</a> <p>|</p>
    <a href="">ANUNCIE AQUI</a> <p>|</p>
    <a href="">SOBRE NÓS</a> <p>|</p>
</div>

</main>

</body>
</html>
