@{
    ViewData["Title"] = "Home Page";
}

<body>


<h1 align="center">História da F1</h1>
<main class="areahistoria">
    <p> "Oficialmente, a Fórmula 1 foi criada em 1950 pela Federação Internacional de Automobilismo (FIA). 
        No entanto, a história da categoria remonta ao final do século XIX, quando as primeiras corridas de 
        carros foram disputadas na Europa. Como na época não existiam circuitos, as corridas aconteciam em estradas. 
        Alguns historiadores apontam que uma corrida entre Paris e Bordeaux, na França, em 1895, tenha sido o marco 
        inicial da F1. Essa corrida durou 48 horas e teve um percurso de 1200 quilômetros."</p>

    <p>"Há quem considere o ano de 1901 como o início da Fórmula 1, pois nesse ano foi disputada a primeira corrida 
        com o nome de Grande Prêmio (GP). Na ocasião, a cidade de Le Mans sediou o Grande Prêmio da França. Atualmente, Le Mans 
        não recebe a Fórmula 1, mas é considerada um dos mais importantes circuitos do mundo."</p>

    <p>"Entre 1901 e 1949, vários GPs foram disputados ao redor da Europa, em países como França, Itália, Bélgica, 
        Inglaterra, Alemanha, Mônaco e Espanha. Os GPs só não aconteceram durante a Primeira Guerra Mundial e a Segunda. 
        No decorrer das guerras, os pilotos participaram de corridas nos Estados Unidos, como em Indianápolis, 
        outro grande circuito do automobilismo."</p>

    <p>"Depois da Segunda Guerra Mundial, a FIA decidiu elaborar um campeonato reunindo os principais Grandes Prêmios da 
        Europa e deu a ele o nome de Fórmula 1. A nova competição reuniria as maiores fabricantes de carros do continente,
         como Alfa Romeo, Ferrari, Maserati e Mercedes."</p>

    <h2>"Início da Fórmula 1"</h2>

    <p>"A primeira corrida da Fórmula 1 foi realizada em 10 de abril de 1950, quando o argentino Juan Manuel Fangio,
        pilotando um Maserati, venceu o Grande Prêmio de Pau, na França. No entanto, essa corrida não fez parte do 
        campeonato. A primeira corrida oficial de F1 aconteceu um mês depois, no dia 13 de maio, no circuito de 
        Silverstone, na Inglaterra, e teve como vencedor o italiano Nino Farina, pilotando um Alfa Romeo."</p>

    <p>"Nino Farina, Juan Manuel Fangio e Alberto Ascari, outro italiano, dominaram a Fórmula 1 no início da década de
        1950. Farina foi o primeiro campeão, Ascari ganhou o campeonato em 1952 e 1953, de Ferrari, e o argentino Fangio 
        levou o título em cinco oportunidades (1951, 1954, 1955, 1956 e 1957). Uma curiosidade sobre Fangio é que ele foi 
        campeão pilotando por quatro equipes: Alfa Romeo, Maserati, Ferrari e Mercedes."</p>

    <p>"Nos seus três primeiros anos, a Fórmula 1 foi disputada apenas na Europa e nos Estados Unidos (Indianápolis). 
        Em 1954, a Argentina recebeu a categoria pela primeira vez, muito por conta do sucesso de Fangio. Quatro anos 
        depois, Marrocos foi o primeiro país africano a sediar uma corrida de F1."</p>

    <p>"No final da década de 1950, quando o número de corridas aumentou de seis para 11 por temporada, um outro piloto 
        destacou-se: o australiano Jack Brabham. Pilotando uma Cooper, Brabham foi campeão em 1959 e 1960. O carro da 
        Cooper era considerado inovador para a época e foi projetado pelo neozelandês Bruce McLaren. Anos depois, Brabham 
        e McLaren teriam suas próprias equipes, com seus respectivos sobrenomes."</p>

    <p>"Como a Segunda Guerra Mundial freou o desenvolvimento da indústria automobilística, os carros da F1 da década de 
        1950 respeitavam os padrões pré-guerra. Os eixos eram rígidos e o motor ficava na parte dianteira do carro. 
        A equipe Cooper inovou e levou o motor para a parte traseira."</p>

    <p>"Dois ingleses também destacaram-se na referida década. Stirling Moss venceu várias corridas e foi quatro vezes 
        vice-campeão. Ele é considerado, por muitos, o maior piloto da história que nunca conquistou um título. Já Mike
        Hawthorn foi campeão em 1958, de Ferrari."</p>

    <h3>"Década de 1960"</h3>

    <p>"Se na década de 1950 os ingleses não se deram tão bem na Fórmula 1, a década de 1960 ficou conhecida como a Era 
        Britânica da categoria. Essa década presenciou o surgimento de grandes nomes do automobilismo inglês, como Graham 
        Hill, Jim Clark, John Surtess e Jackie Stewart. Juntos, ganharam seis títulos entre 1961 e 1970. Nessa década, 
        também foi criada uma grande equipe de Fórmula 1, a Lotus, além da Brabham."</p>

    <p>"Em 1967, quatro das 12 corridas da temporada já eram disputadas fora da Europa. Grandes Prêmios foram disputados 
        na África do Sul, Canadá, México e Estados Unidos. No ano seguinte, uma fabricante de motores de fora da Europa 
        ganhou o campeonato pela primeira vez, a americana Ford, que equipava os carros da Lotus."</p>

    <p>"A Ford trouxe para a F1 os motores V8, uma configuração de motor de combustão interna em que oito cilindros estão
        dispostos em duas bancadas de quatro cilindros. Entre 1968 e 1982, a Ford ganhou 12 dos 15 campeonatos."</p>

    <p>"Outra inovação dessa década foi a configuração do cockpit (banco onde os pilotos sentam-se), de modo que os pilotos
        ficassem mais inclinados. Antes, eles sentavam-se em uma posição de 90º. Nessa década também surgem os primeiros 
        carros com aerofólio traseiro, o que trouxe uma grande evolução na parte aerodinâmica."</p>

    <h3>"Década de 1970"</h3>

    <p>"A década de 1970 foi bastante movimentada na Fórmula 1, com inovações nos carros, duelos memoráveis e pilotos que
        entraram para a história. Começando pelos últimos, nessa década os nomes de destaque foram Gilles Villeneuve, 
        Niki Lauda, James Hunt, Jody Scheckter, Alan Jones, Mario Andretti e o primeiro brasileiro campeão da F1, Emerson 
        Fittipaldi."</p>

    <p>"Fittipaldi correu na Fórmula 1 entre 1970 e 1980, ganhando os campeonatos de 1972, pela Lotus, e 1974, pela McLaren.
        Em 1975, em uma decisão considerada ousada, abandonou a melhor equipe da F1 na época para fundar com o irmão a 
        Copersucar Fittipaldi. A primeira e única equipe brasileira na Fórmula 1 não teve muito sucesso e fechou as portas 
        em 1982."</p>

    <p>"O piloto austríaco Niki Lauda foi o grande destaque da década de 1970, ganhando os campeonatos de 1975 e 1977 pela
         Ferrari. Em 1976, perdeu o campeonato para o inglês James Hunt após sofrer um grave acidente que quase lhe custou
          a vida. Lauda e Hunt protagonizaram várias disputas na pista, o que inspirou o filme Rush, de 2013. O austríaco 
          também ganhou o campeonato de 1984 e trabalhou nas equipes Jaguar, na década de 2000, e Mercedes, na década de 
          2010."</p>

    <img src="~/img/NIKKI LAUDA.jpg" width="250" heigth="40"/>
    
<p>"Em relação às inovações, a Renault trouxe, em 1977, os motores turbo, que ficaram na categoria até 1988. As equipes 
    também investiam mais na aerodinâmica, visando o desenvolvimento do efeito-solo (o ar “empurra” o carro para baixo, 
    deixando-o mais “preso” ao solo, o que aumenta a velocidade). Tanto o motor turbo quanto o efeito-solo foram banidos 
    da categoria na década de 1980, principalmente depois de acidentes mortais, como o do canadense Gilles Villeneuve, em 
    1982."</p>

<h3>"Década de 1980"</h3>

<p>"A década de 1980 é a de maior sucesso do Brasil na Fórmula 1, com cinco títulos: 1981, 1983 e 1987, com Nelson Piquet,
     e 1988 e 1990, com Ayrton Senna. Piquet ganhou seus dois primeiros títulos pela Brabham, e o último, pela Willams. 
     Seus principais rivais eram Keke Rosberg, Carlos Reutemann, Alan Jones, Rene Arnoux, Alain Prost e Nigel Mansell, 
     além de Senna."</p> 

<p>"Os maiores campeões da década foram Nelson Piquet e o francês Alain Prost, que também conquistou três mundiais: 1985, 
    1986 e 1989. Piquet era um forte adversário de Prost, mas o principal rival do francês foi outro brasileiro: Ayrton 
    Senna. A rivalidade entre Senna e Prost é considerada a maior da história Fórmula 1."</p>

<p>"Senna chegou à McLaren em 1988 para ser companheiro de equipe de Prost, que já era bicampeão de F1. O ídolo brasileiro
     havia se destacado em equipes menores e viu na McLaren a grande chance de vencer Prost. Nos dois anos em que ambos 
     pilotaram por ela, cada um venceu uma vez: Senna, em 1988, e Prost, em 1989. Em 1990, o piloto francês foi para a 
     Ferrari e não conseguiu rivalizar com Senna, que venceu o campeonato."</p>

    <h3>"Década de 1990"</h3>

<p>"A década de 1990 foi marcada pelo desenvolvimento da eletrônica nos carros de corrida. A Willams inovou com a suspensão
     ativa (controlada por meios eletrônicos) e desbancou a supremacia da McLaren que já durava alguns anos. Senna foi 
     campeão em 1991, mas, nos dois anos seguintes, não conseguiu acompanhar a Willams, que venceu em 1992, com o inglês 
     Nigel Mansell, e em 1993, com Alain Prost."</p>

<p>"A aposentadoria de Prost depois do campeonato de 1993 abriu as portas da Willams para Senna em 1994. Infelizmente, o 
    brasileiro sofreu um grave acidente na terceira corrida do campeonato, em Ímola, e faleceu aos 34 anos. Nesse ano, o 
    campeão foi o alemão Michael Schumacher, pela Benetton."</p>

<p>"Schumacher disputou todos os títulos da Fórmula 1 entre 1994 e 2006. Na década de 1990, ganhou em 1994 e 1995, pela 
    Benetton, e em 2000, pela Ferrari. Nos demais anos, perdeu para as Willams de Damon Hill, em 1996, e Jacques Villeneuve,
    em 1997, e para a McLaren do finlandês Mika Hakkinen, em 1998 e 1999."</p>

<h3>"Década de 2000"</h3>

<p>"A década de 2000 começou com a supremacia da Ferrari, com Michael Schumacher ganhando os campeonatos de 2001 a 2004. 
    Entre 2000 e 2005, foi companheiro de equipe do brasileiro Rubens Barrichello, recordista de corridas na F1 (326). 
    Em 2006, Schumacher foi companheiro de outro brasileiro, Felipe Massa. No final desse mesmo ano, o heptacampeão 
    anunciou aposentadoria, mas retornaria em 2010 para correr até 2012."</p>

<p>"Os principais pilotos dessa década, além de Schumacher, foram: Fernando Alonso (campeão em 2005 e 2006 pela Renault), 
    Juan Pablo Montoya, David Coulthard, Kimi Raikkonen (campeão em 2007 pela Ferrari), Jenson Button (campeão em 2009 
    pela Brawn), os brasileiros Barrichello e Massa, Lewis Hamilton (campeão em 2008 pela McLaren), e Sebastian Vettel 
    (campeão em 2010 pela Red Bull). Os dois últimos também fizeram sucesso na década seguinte."</p>

<p>"As temporadas entre 2001 e 2010 foram marcadas pelo desenvolvimento dos motores, o que resultou nas maiores 
    velocidades registradas na F1. Em 2005, com um motor BMW v10, a Willams de Juan Pablo Montoya alcançou os 372 km/h. 
    O perigo da alta velocidade fez a categoria trocar os motores v10 pelos v8, em 2006."</p>

<p>"A perda de potência levou os engenheiros a desenvolverem soluções para os carros, resultando em vários “apêndices” 
    aerodinâmicos. Esse excesso dificultou as ultrapassagens por gerar turbulência no carro de trás. Para aumentar as 
    ultrapassagens, os apêndices foram proibidos e os carros passaram a ter um visual mais “limpo” no final da década."</p>

<p>"Curiosidade: a equipe Honda abandonou a F1 no final de 2008 por causa da crise econômica mundial e por não conseguir 
    bons resultados. Ross Brawn, então chefe da equipe, adquiriu a escuderia às pressas e deu a ela o seu nome. Para a 
    surpresa da Fórmula 1, a equipe, que não tinha sequer patrocinador e estreou com o carro quase todo branco, venceu o 
    campeonato de 2009. A Brawn GP inovou com um modelo diferente de difusor (componente aerodinâmico que permite 
    aumentar a velocidade com que o ar passa por baixo do carro)."</p>

<h3>"Fórmula 1 na atualidade"</h3>

<p>"A última década confirmou o talento do inglês Lewis Hamilton, que igualou-se a Michael Schumacher em número de títulos.
    Pilotando uma Mercedes, Hamilton conseguiu os títulos das temporadas 2014, 2015, 2017, 2018, 2019 e 2020. A Mercedes 
    também venceu em 2016, mas com o alemão Nico Rosberg."</p>

<p>"Hamilton conseguiu superar os recordes de vitórias e pole positions (primeira posição na classificação para a corrida)
    de Michael Schumacher e do seu ídolo, Ayrton Senna. Como ainda tem alguns anos de carreira, o inglês pode tornar-se o 
    maior piloto de F1 de todos os tempos."</p>

<p>"Antes dos títulos da Mercedes, os campeonatos foram conquistados pela Red Bull Team (RBR) com o piloto alemão 
    Sebastian Vettel. Em 2010, com apenas 23 anos e 134 dias, Vettel tornou-se o mais jovem campeão da Fórmula 1. 
    Ele também ganhou nos três anos seguintes."</p>

<p>"Também pela Red Bull, o holandês Max Verstappen tornou-se o piloto mais jovem a vencer uma corrida na F1, com 18 anos
    e 7 meses. A juventude dos pilotos é uma característica da atual Fórmula 1."</p>

<p>"Atualmente, os carros da Fórmula 1 são movidos por motor — o termo correto é unidade de potência — a combustão de 
    seis cilindros (v6) turbo de 1.6 litros e tecnologia híbrida, ou seja, combina combustão com energia cinética. Os 
    atuais motores conseguem transformar a energia cinética gerada nas freadas e o calor da combustão em potência."</p>

<h3>"Futuro da Fórmula 1"</h3>

<p>"A adoção dos motores híbridos não agradou os fãs da categoria, pois emitem menos barulho. O “ronco” dos motores é um 
    dos principais atrativos da Fórmula 1, e os fãs temem que as corridas fiquem “silenciosas” no futuro"</p>

<p>"Esse é um dos desafios que a categoria deve enfrentar nos próximos anos, já que vários países da Europa proibirão a 
    venda de carros a combustão a partir de 2030. Como as fabricantes participam da F1 para desenvolver novas tecnologias 
    para seus carros de passeio, pode não ser interessante investir em uma categoria com motores a combustão."</p>

<p>"Um outro desafio da Fórmula 1 é tornar a categoria mais acessível para equipes com menores investimentos, para que 
    elas também tenham chance de vencer corridas, resultando em um grid mais equilibrado. Essa proposta esbarra no 
    interesse das grandes fabricantes, como a Ferrari e a Mercedes."</p>

<p>"Em 2022 a Fórmula 1 passará por uma grande transformação, com novas especificações aerodinâmicas, motores híbridos 
    mais eficientes (e modificados para emitir mais barulho e menos poluentes) e, possivelmente, a implantação de um teto 
    orçamentário. Também está prevista a volta do efeito-solo, mas em uma versão mais segura que a da década de 1970. 
    Essas mudanças estavam previstas para 2021, mas foram adiadas devido à pandemia do coronavírus Covid-19."</p>

</main>
    <br>
<br>

<div class="divisao">
    <a href="">CONTATO</a> <p>|</p>
    <a href="">POLITICA DE PRIVACIDADE</a> <p>|</p>
    <a href="">ANUNCIE AQUI</a> <p>|</p>
    <a href="">SOBRE NÓS</a> <p>|</p>
</div>



</body>
</html>