@{
    ViewData["Title"] = "Home Page";
}
<head> 
<title>F1 na veia</title>
</head>
  
<body>
    
<main>
<header class="header">
        <div class="iniciais">
            <p>Informação com opinião e aberto para debatermos sobre o universo da Formula 1!<br>
            Seja membro! Cadastre-se e participe do nosso fórum!</p>
        </div>
    <div class="buscaerede">
        <div class="divdabusca">
            <form action="#" method="post">
            <input class="buscador" type="text" name="search" id="search" placeholder="O que você procura?" required>
            <input class="botaobusca" type="submit" value="Buscar"/>
            </form>
        </div> 
        <div class="redes">
            <a href="https://www.facebook.com/"><img class="logofaceook" src="~/img/logo facebook.png" alt="Facebook" width="50"></a>
            <a href="https://www.instagram.com/"><img class="logoinstagram" src="~/img/logo Instagram.png" alt="Instagram" width="50"></a>
            <a href="https://twitter.com/"><img class="logotwitter" src="~/img/logo twitter.png" alt="Twitter" width="50"></a>
        </div> 
    </div>
    </header>

        <div class="slideshow-container">

        <div class="MySlides fade"><a href=https://ge.globo.com/motor/formula-1/noticia/pilotos-da-f1-estranham-decisao-polemica-com-safety-car-em-abu-dhabi.ghtml>
          <div class="numbertext">1 / 3</div>
          <img src="~/img/imagemabu.png" alt="ABU DHABI" width="100%" height="260 object-fit: cover;">
          <div class="text">O escandalo de Abu Dhabi 2021!</div></a>
        </div>

        <div class="MySlides fade"><a href=https://ge.globo.com/motor/formula-1/noticia/2022/10/24/hamilton-aprova-melhorias-da-mercedes-e-promete-vencer-em-2023.ghtml>
          <div class="numbertext">2 / 3</div>
          <img src="~/img/CARROCELHAMILTON.jpg" alt="Mercedes Hamilton" width="100%" height="260 object-fit: cover;">
          <div class="text">Hamilton e Mercedes prometem vencer em 2023</div>
          </a>
        </div>

        <div class="MySlides fade"><a href=https://www.grandepremio.com.br/f1/noticias/pai-max-verstappen-nivel-red-bull-parceria-frutifera-cinco-anos>
          <div class="numbertext">3 / 3</div>
          <img src="~/img/redbullcarrocel.jpg" alt="RED BULL VERSTAPPEN" width="100%" height="260 object-fit: cover;">
          <div class="text">Os planos da Red Bull para Verstappen!</div>
          </a>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
    <br>
    <h2 class="destaque">Destaques do Mundo da F1</h2><br>

<section class="header">

    <div class="noticia">
        <div class="noticia1">
            <a href="https://motorsport.uol.com.br/f1/news/f1-ceo-da-ferrari-banca-binotto-e-espera-que-equipe-volte-a-ser-campea-antes-de-2026/10368570/"><img class="imgnoticias" src="~/img/EQUIPEFERRARI.jpg" alt="Equipe Ferrari" width="613px" heigth="229px"/>
            <h3>F1: CEO da Ferrari "banca" Binotto e espera que equipe volte a ser campeã antes de 2026</h3>
        </div>
        <br>
        <br>
        <div class="noticia2">
            <a href="https://www.terra.com.br/esportes/automobilismo/formula1/williams-diz-que-de-vries-esta-na-lista-e-elogia-superou-nossas-expectativas,f8352ae69c5104e31fd2cce052e88c6935ydfo76.html"><img class="imgnoticias" src="~/img/DE VRIES.jpg" alt="Nick D'Vries"  width="150px" heigth="100px"/>
            <h3 class="">Williams diz que De Vries está “na lista” e elogia: “Superou nossas expectativas”</h3></a>
        </div>
    </div>

    <div class="noticia">
        <div class="noticia4e5">
            <p>RED BULL</p>
            <a href="https://motorsport.uol.com.br/f1/news/o-que-verstappen-precisa-para-ser-o-campeao-da-f1-em-singapura/10368571/"><img class="imgnoticias" src="~/img/CAPACETE VERSTAPEN.jpg" alt="Capacete Verstappen" width="257px" heigth="159px"/>
            <h5>O que Verstappen precisa fazer para ser campeão já em Singapura</h5></a>
        </div>
        <br>
        <br>
        <div class="noticia4e5">
            <p>MERCEDES</p>
            <a href="https://www.f1mania.net/f1/f1-hamilton-batalhas-na-corrida-sao-mais-legais-que-comecar-em-primeiro/"><img class="imgnoticias" src="~/img/LEWIS.jpg" alt="Capacete Verstappen" width="257px" heigth="144px"/>
            <h5>Hamilton: “Batalhas na corrida são mais legais do que largar em primeiro”</h5></a>
        </div>
    </div>

    <div class="noticia">
        <div class="noticia4e5">
            <p>MCLAREN</p>
            <a href="https://www.autoracing.com.br/norris-nega-que-haja-um-primeiro-piloto-na-mclaren/"><img class="imgnoticias" src="~/img/LANDONORRIS-MAC.jpg" alt="Lando Norrins" width="257px" heigth="159px"/>
            <h5>Norris nega que hava um primeiro piloto na Mclaren</h5></a>
        </div>
        <br>
        <br>
        <div class="noticia4e5">
            <p>ALPINE</p>
            <a href="https://www.terra.com.br/esportes/automobilismo/formula1/quem-e-o-mais-cotado-para-substituir-alonso-na-alpine-em-2023,8b834fa83c0d740867f5d63356f5cee7kqjvrpy2.html"><img class="imgnoticias" src="~/img/alpinenoticia.jpg" alt="ALPINE" width="257px" heigth="144px"/>
            <h5>Quem é o mais cotado para substituir Alonso na Alpine em 2023?</h5></a>
        </div>
        <br>
        <br>
        <br>
        <a class="botaonoticias" asp-area="" asp-controller="Home" asp-action="noticias">MAIS NOTÍCIAS DA F1</a>    
</section>
        <br>
        <br>

<div class= "novachamada">
    <h1 >Carros da Temporada 2022</h1>
    <h6>(Veja como ficou o visual dos carros para 2022com o novo regulamento)</h6>
</div>
<br>

<div align="center">
    <div class="d-inline-block">
        <a href=""><img class="carros" src="~/img/REDBULL.png" width= "273px" height="169.98px" border-radius="37px" /></a> 
        <figcaption>Red Bull 2022</figcaption>
    </div>

    <div class="d-inline-block">
        <a asp-area="" asp-controller="Home" asp-action="Mercedes"><img class="carros" src="~/img/MERCEDES.png" width= "273px" height="169.98px" border-radius="37px"/></a>
        <figcaption>Mercedes 2022</figcaption>
    </div>

    <div class="d-inline-block">
        <a href="####.html"><img class="carros" src="~/img/Ferrari.png" width= "273px" height="169.98px" border-radius="37px"/></a>
        <figcaption>Ferrari 2022</figcaption>
    </div>

    <div class="d-inline-block">
        <a asp-area="" asp-controller="Home" asp-action="Mclaren"><img class="carros" src="~/img/Mclaren.png" width= "273px" height="169.98px" border-radius="37px"/></a>
        <figcaption>McLaren 2022</figcaption>
    </div>

    <div class="d-inline-block">
        <a href="######.html"><img class="carros" src="~/img/ALPINE.png" width= "273px" height="169.98px" border-radius="37px"/></a>
        <figcaption>Alpine 2022</figcaption>
    </div>

    <div class="d-inline-block">
        <a href="###.html"><img class="carros" src="~/img/ALPHATAURI.png" width= "273px" height="169.98px" border-radius="37px"/></a> 
        <figcaption>Alpha Tauri 2022</figcaption>
    </div>

    <div class="d-inline-block">
        <a href="###.html"><img class="carros" src="~/img/ALPHA ROMEO.png" width= "273px" height="169.98px" border-radius="37px"/></a>
        <figcaption>Alpha Romeo 2022</figcaption>
    </div>

    <div class="d-inline-block">
        <a href="###.html"><img class="carros" src="~/img/ASTON MARTIN.png" width= "273px" height="169.98px" border-radius="37px"/></a>
        <figcaption>Aston Martin 2022</figcaption>
    </div>

    <div class="d-inline-block">
        <a href="###.html"><img class="carros" src="~/img/HAAS.png" width= "273px" height="169.98px" border-radius="37px"/></a>
        <figcaption>HAAS 2022</figcaption>
    </div>

    <div class="d-inline-block">
        <a href="###.html"><img class="carros" src="~/img/WILLIANS.png" width= "273px" height="169.98px" border-radius="37px"/></a>
        <figcaption>Willians 2022</figcaption>
    </div>

</div>
<br>
<br>
<p> * Ao clicar no carro você será redirecionado a página da historia da equipe.</p>


<hr size="25" width="100%" align="center" color="red">

<h1 align="center">CAMPEONATO MUNDIAL F1 2022</h1>
<br>

<div class="titulostabelas"><h3>Classificação de Pilotos</h3> <h3>Classificação de Construtores</h3></div>
<br>
<div class="tabulacao">

    <div class="tabulacao2">
        <div>
            <div class="d-flex"><img class="imagemtabela" src="~/img/Verstappen.png" width="55px" height="55px"><p> 1º Maxx Verstappen 335 Pontos</p></div>
            <div class="d-flex"><img class="imagemtabela" src="~/img/Charles.jpg" width="55px" height="55px"><p> 2º Charles Leclerc 219 Pontos</p></div>
            <div class="d-flex"><img class="imagemtabela" src="~/img/perez.jpg" width="55px" height="55px"><p> 3º Sérgio Perez 210 Pontos</p></div>
            <div class="d-flex"><img class="imagemtabela" src="~/img/russel.jpg" width="55px" height="55px"><p> 4º George Russel 203 Pontos</p></div>
            <div class="d-flex"><img class="imagemtabela" src="~/img/sainz.jpg" width="55px" height="55px"><p> 5º Carlos Sainz 187 Pontos</p></div>
            <div class="d-flex"><img class="imagemtabela" src="~/img/lewis.jpg" width="55px" height="55px"><p> 6º Lewis Hamilton 168 Pontos</p></div>
            <div class="d-flex"><img class="imagemtabela" src="~/img/norris.jpg" width="55px" height="55px"><p> 7º Lando Norris 088 Pontos</p></div>
            <div class="d-flex"><img class="imagemtabela" src="~/img/ocon.jpg" width="55px" height="55px"><p> 8º Esteban Ocon 066 Pontos</p></div>
            <div class="d-flex"><img class="imagemtabela" src="~/img/alonso.jpg" width="55px" height="55px"><p> 9º Fernando Alonso 059 Pontos</p></div>
            <div class="d-flex"><img class="imagemtabela" src="~/img/bottas.jpg" width="55px" height="55px"><p>10º Valteri Bottas 046 Pontos</p></div>
            <div class="d-flex"><img class="imagemtabela" src="~/img/magnussen.jpg" width="55px" height="55px"><p>11º Kevin Magnussen 022 Pontos</p></div>
        </div>
        <div>
            <div class="d-flex"><img class="imagemtabela" src="~/img/gasly.jpg" width="55px" height="55px"><p>12º Pierre Gasly 022 Pontos</p></div>
            <div class="d-flex"><img class="imagemtabela" src="~/img/vettel.jpg" width="55px" height="55px"><p>13º Sebastian Vettel 020 Pontos</p></div>
            <div class="d-flex"><img class="imagemtabela" src="~/img/ricciardo.jpg" width="55px" height="55px"><p>14º Daniel Ricciardo 019 Pontos</p></div>
            <div class="d-flex"><img class="imagemtabela" src="~/img/mick.jpg" width="55px" height="55px"><p>15º Mick Schumacher 012 Pontos</p></div>
            <div class="d-flex"><img class="imagemtabela" src="~/img/tsunoda.jpg" width="55px" height="55px"><p>16º Yuki Tsunoda 011 Pontos</p></div>
            <div class="d-flex"><img class="imagemtabela" src="~/img/zhou.jpg" width="55px" height="55px"><p>17º Guanyu Zhou 006 Pontos</p></div>
            <div class="d-flex"><img class="imagemtabela" src="~/img/stroll.jpg" width="55px" height="55px"><p>18º Lance Stroll 005 Pontos</p></div>
            <div class="d-flex"><img class="imagemtabela" src="~/img/albon.jpg" width="55px" height="55px"><p>19º Alex Albon 004 Pontos</p></div>
            <div class="d-flex"><img class="imagemtabela" src="~/img/devries.jpg" width="55px" height="55px"><p>20º Nick D’Vries 002 Pontos</p></div>
            <div class="d-flex"><img class="imagemtabela" src="~/img/latifi.jpg" width="55px" height="55px"><p>21º Nicholas Latifi 000 Pontos</p></div>
         <div class="d-flex"><img class="imagemtabela" src="~/img/hulkenberg.jpg" width="55px" height="55px"><p>22º Nico Hulkenberg 000 Pontos</p></div>
        </div>
    </div>
<div>
        
        <div class="d-flex"><img class="imagemtabela" src="~/img/logo redbull.jpg" width="55px" height="55px"><p>1º Red Bull Racing - 545 pontos</p></div>
        <div class="d-flex"><img class="imagemtabela" src="~/img/logo ferrari.jpg" width="55px" height="55px"><p>2º Scuderia Ferrari - 406 pontos</p></div>
        <div class="d-flex"><img class="imagemtabela" src="~/img/logo mercedes.jpg" width="55px" height="55px"><p>3º Mercedes AMG Motorsport - 371 pontos</p></div>
        <div class="d-flex"><img class="imagemtabela" src="~/img/logo alpine.jpg" width="55px" height="55px"><p>4º Alpine F1 Team - 125 pontos</p></div>
        <div class="d-flex"><img class="imagemtabela" src="~/img/logo mclaren.jpg" width="55px" height="55px"><p>5º McLaren Racing - 107 pontos</p></div>
        <div class="d-flex"><img class="imagemtabela" src="~/img/logo alpharomeo.jpg" width="55px" height="55px"><p>6º Alfa Romeo Racing - 52 pontos</p></div>
        <div class="d-flex"><img class="imagemtabela" src="~/img/HAAS.jpg" width="55px" height="55px"><p>7º Haas F1 Team - 34 pontos</p></div>
        <div class="d-flex"><img class="imagemtabela" src="~/img/logo alphatauri.jpg" width="55px" height="55px"><p>8º Scuderia AlphaTauri - 33 pontos</p></div>
        <div class="d-flex"><img class="imagemtabela" src="~/img/logo astonmartin.jpg" width="55px" height="55px"><p>9º Aston Martin - 25 pontos</p></div>
        <div class="d-flex"><img class="imagemtabela" src="~/img/logo willians.jpg" width="55px" height="55px"><p>10º Willians Racing - 06 pontos</p></div>
    </div>
</div>

<br>
<br>

<div class="divisao">
    <a href="">CONTATO</a> <p>|</p>
    <a href="">POLITICA DE PRIVACIDADE</a> <p>|</p>
    <a href="">ANUNCIE AQUI</a> <p>|</p>
    <a href="">SOBRE NÓS</a> <p>|</p>
</div>

</main>

</body>
</html>
