<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mclaren</title>
</head>
<link rel= "stylesheet" href="~/css/Style.css" type="text/css"/>
<body class="fundo">

<header>
    <h1>Mclaren</h1>
</header>
<main>
    <h3>Primeira Temporada 1966</h3>
    <h3>Presidente Andreas Seidl</h3>
    <h3>Pilotos Lando Norris | Daniel Ricciardo</h3>
    <h3>Site Oficial www.mclaren.com/formula1</h3>

    <img src="~/img/MclarenSenna.png" width="250" heigth="40">

    <h2>A História da Mclaren</h2>

    <p>Bruce McLaren fundou Bruce McLaren Motor Racing LTDA. em 1963.</p>
    <p>Em 1966, ela estreou na Fórmula 1 e em 1968, no GP da Bélgica, Bruce McLaren, conquistou sua primeira vitória e a equipe conseguiu fechar os construtores do ano na 2ª posição.</p>   
    <p>Além do fundador, Bruce também era piloto. Sua carreira foi encerrada tragicamente em 1970 ao fazer testes de um Cam-Am no circuito de Goodwood.</p>
<p>Mesmo após sua morte, o trabalho na equipe continuou.</p>
<p>Em 1974, a equipe se associou com Phillip Morris. Desde então, o sucesso tem acompanhado o time ao longo dos anos da Fórmula 1. Neste mesmo ano Emerson Fittipaldi se tornou bicampeão da Fórmula 1!</p>
<p>Em 1976, James Hunt conquistou o mundial de pilotos para a equipe, apenas por 1 ponto de diferença de Nick Lauda, piloto da Ferrari.</p>

<h3>A rainha da década de 80</h3>
<p>Os anos 80 coroaram a McLaren como melhor equipe. Das dez temporadas, o time conquistou quatro títulos de construtores, o mesmo número conseguido pela Williams. No entanto, a escuderia dos carros brancos e vermelhos superou a adversário nas taças conquistadas por todos os seus pilotos.</p>

<h3>A era Ron Dennis</h3>
<p>O principal integrante por trás deste sucesso, foi o novo chefe Ron Dennis. Em 1980, ex-mecânico da equipe Brabham adquiriu os direitos da McLaren e assim ele é um dos responsáveis pelo sucesso da equipe. Ele permaneceu no cargo de diretor até o fim dos anos 2000.</p>

<h3>Os principais pilotos da década de 80</h3>
<p>Ron Dennis conseguiu trazer para McLaren grandes parceiros comerciais, equipamento de ponta e pilotos bem-sucedidos.</p>
<p>O austríaco Niki Lauda venceu em 1984, o francês Alain Prost foi bicampeão nos dois anos seguintes, o brasileiro Ayrton Senna levantou a taça em 1988 e Prost voltou a ser o melhor da temporada em 1989. Domínio total da McLaren!</p>
<p>A aliança com Ayrton Senna e Alain Prost, trouxe a Fórmula 1, a melhor dupla de pilotos da história e resultou também em uma das maiores rivalidades que se tem registro, na categoria.</p>

<h3>A McLaren nos anos 90</h3>
<p>Depois do último título de Senna em 1991 a Mclaren passou por dias "sombrios" na Formua 1. Depois da vitória de Ayrton Senna no GP da Austrália, no fim de 1993, um piloto da McLaren voltou a vencer novamente em 1997 com David Coulthard no GP da Itália.</p>
<p>Em 1995 o time fez iniciou uma parceria com a montadora Mercedes-Benz, mas os resultados começaram aparecer após uma reestruturação que iniciou em 1997. Entre as mudanças, foi a contratação do famoso projetista Adrian Newey. Desde então a equipe se reencontrou com o caminho das vitórias.</p>
<p>Mika Hakkinen conquistou dois títulos mundiais em 1998 e 1999 e isolou a McLaren no posto de maior vencedora da história da Fórmula 1, com onze campeonatos de pilotos e oito de construtores.</p>
<p>Outro fato marcante que ocorreu com a McLaren nos anos 90, foi o fim de sua longa parceria com a Marlboro, marca de cigarro, na qual terminou no fim de 1996, dando um novo visual para a equipe no ano seguinte.</p>

<h3>Mclaren dos anos 2000</h3>
<p>De 2001 a 2004, sua rival Ferrari se saiu melhor, principalmente em 2002 onde a equipe conseguiu apenas 3º nos construtores com 65 pontos.</p>
<p>Kimi Raikkonen que substituiu Mika Hakkinen, guiou a McLaren até 2006. Embora o carro fosse muito rápido, não tinha nem consistência nem durabilidade, tirando o piloto da disputa do título com Fernando Alonso e Michael Schumacher.</p>
<p>Em 2007 a equipe realizou uma grande mudança, trazendo o bicampeão Fernando Alonso e o campeão da GP2, Lewis Hamilton, que por pouco não conquistou seu primeiro título em seu ano de estreia.</p>
<p>Este ano foi marcado por diversas brigas internas entre Alonso, Hamilton e os engenheiros. Alguns deles se envolveram num esquema de espionagem. Alonso ficou sabendo e passou a santagiar a equipe dizendo que não se recebesse os privilégios exigidos, iria expor a equipe e foi isso que aconteceu. Os envolvidos diretamente foram demitidos e suspensos. A equipe foi desclassificada pela FIA, não podendo disputar o título de construtores. Ficou barato, pois de nada aconteceu com os pilotos.</p>
<p>O último título de pilotos da McLaren foi em 2008, conquistado por Lewis Hamilton.</p>

<img src="~/img/mclarenlewis.png" width="250" heigth="40">

<h3>O fim da era Ron Dennis</h3>
<p>Na mesma época em que Ron Dennis estava sendo acusado de se envolver em diversos escândalos, decidiu se aposentar. Em 2009 ele foi substituído por Martin Withmarsh.</p>
<p>Neste ano, a equipe não fez um bom começo de temporada, foi se recuperando durante o ano e conseguiu terminar o campeonato em 3º lugar. Não é um resultado final desejado, porém, ter feito mais pontos que a Ferrari, para eles, é um consolo. O mesmo foi em 2010.</p>
<p>Desde 2010, a equipe é a única que tem em seu time dois pilotos campeões mundiais, Hamilton e Button.</p>
<p>Neste mesmo ano, a Mercedes entrou na Fórmula 1 com equipe própria. Dizia-se muito que isso prejudicaria a McLaren, por usarem motores Mercedes. Mas pelo menos nos dois primeiros anos, o time foi superior ao da Mercedes.</p>
<p>Visto que a McLaren também é uma montadora de carros esportivos, a direção estuda a possibilidade de romper de vez sua relação com a Mercedes e fabricar seus próprios motores independentes. Pode ser uma ideia lucrativa, porém, fabricar motores do "zero", não é algo tão simples.</p>
<p>Por enquanto, os motores serão fornecidos pela Mercedes até 2014 e a partir de 2015 a Honda voltará a fornecer motores o time.</p>
<p>Assim, em 45 anos de história na Fórmula 1, a McLaren ganhou 173 corridas, cravou 146 pole positions, subiu 326 vezes ao pódio, acumulou mais de 2.500 pontos e cerca de 40 pilotos de várias nacionalidades se revezaram nos cockpits de seus carros.</p>
<p>A primeira prova disputada pela McLaren foi em 1966. Foi seu fundador Bruce McLaren quem conduziu o carro à primeira vitória, em Spa-Francorchamps, dois anos depois.</p>
<p>O piloto que mais disputou provas pela equipe foi o finlandês Mika Hakkinen, com 116. O maior vencedor foi o brasileiro Ayrton Senna, com 35 vitórias, e o corredor que mais vezes subiu ao pódio foi o francês Alain Prost, que esteve nos degraus 63 vezes.</p>

<h3>A McLaren atualmente</h3>

<p>Mesmo dando um ótimo carro para Jenson Button que permitiu ele fechar o ano em 2011 como vice-campeão, além de algumas vitórias de ambos os pilotos em anos recentes, o time em 2013 atravessa uma das piores fases de sua história recente. Aparentemente a contratação de Sergio Perez, não foi uma boa escolha.</p>
<p>A temporada 2015 foi marcada pela volta da parceria McLaren Honda e também o retorno de Fernando Alonso ao time. A fase da equipe por enquanto pode ser considerada a pior de história!</p>

<h3>Estatisticas da Mclaren na F1</h3>

<table border="1">

<tr>
    <td>Grandes Prêmios</td>
    <td>Pole Positions</td>
    <td>Melhores Voltas</td>
    <td>Vitórias</td>
</tr>

<tr>
    <td>901</td>
    <td>156</td>
    <td>160</td>
    <td>183</td>
</tr>
</table>
<br>
<table border="1">
    <tr>
        <td>Quem mais venceu</td>
        <td>Quem conquistou mais títulos</td>
        <td>Quem mais chegou ao pódio</td>
        <td>Maior tempo na equipe</td>
    </tr>
    
    <tr>
        <td>Ayrton Senna</td>
        <td>Vários</td>
        <td>Ayrton Senna e Alain Prost</td>
        <td>Alain Prost</td>
    </td>
</table>
</main>
    <br>
<br>

<div class="divisao">
    <a href="">CONTATO</a> <p>|</p>
    <a href="">POLITICA DE PRIVACIDADE</a> <p>|</p>
    <a href="">ANUNCIE AQUI</a> <p>|</p>
    <a href="">SOBRE NÓS</a> <p>|</p>
</div>

</main>

</body>
</html>