
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercedes</title>
</head>
<link rel= "stylesheet" href="~/css/Style.css" type="text/css"/>
<body class="fundo">

    <header>
        <h1>Mercedes-Benz</h1>
    </header>
    <main>
        <h3>Primeira Temporada 2010</h3>
        <h3>Presidente Toto Wolf</h3>
        <h3>Pilotos Lewis Hamilton | George Russell</h3>
        <h3>Site Oficial mercedes-amg-f1.com</h3>
    
        <img src="~/img/mercedesdupla.png" width="250" heigth="40">
    
        <h2>A História da Mercedes-Benz na F1</h2>

        <p>A Mercedes Bens tem um currículo de sucesso na Fórmula 1. Por muitos anos, sua parceria com a equipe McLaren e a equipe Brawn GP, resultou em vários títulos. Ela, como equipe independente, levou o lendário Juan Manuel Fangio ao título de campeão de 1955.</p>
        <img src="~/img/mercedesfangio.png" width="250" heigth="40">
    
        <p>Com isso em mente, a empresa decidiu possuir uma equipe própria e, portanto, comprou as ações da antiga Brawn GP e reestreou no grid em 2010. Este passe deu a oportunidade para o Michael Schumacher retornar à Fórmula 1.</p>

        <h3>De um passo promissor para um futuro incerto</h3>

        <p>A equipe não conseguiu nem metade do que se esperava dela quando foi anunciado o seu retorno, como equipe, para a Fórmula 1. O dinheiro da Mercedes, a inteligência de Ross Brawn e a dupla de pilotos, o veterano Michael Schumacher e o jovem Nico Rosberg, parecia ser a fórmula exata para o sucesso.</p>





    </main>
    <br>
<br>

<div class="divisao">
    <a href="">CONTATO</a> <p>|</p>
    <a href="">POLITICA DE PRIVACIDADE</a> <p>|</p>
    <a href="">ANUNCIE AQUI</a> <p>|</p>
    <a href="">SOBRE NÓS</a> <p>|</p>
</div>

</main>

</body>
</html>