@{
    ViewData["Title"] = "Notícias";
}


<h1 align="center">Notícias da F1</h1>
<link rel= "stylesheet" href="~/css/Style.css" type="text/css"/>
<body class="fundo">
    <main> 


<div class="header">
    <div class="noticia4e5">
            <a href="https://www.terra.com.br/esportes/automobilismo/formula1/exclusivo-fittipaldi-entra-no-radar-e-e-sondado-por-williams-e-alpine-para-f1-2023,b8911419625cb78b7dea9c10f640f455r42srtey.html"><img class="imgnoticias" src="~/img/ENZO.jpg" alt="ENZO"  width="250px" heigth="200px"/>
            <h5 class="">Fittipaldi entra no radar e é sondado por Williams e Alpine para F1 2023</h5></a>
    </div>

    <div class="noticia4e5">
            <a href="https://odia.ig.com.br/esporte/2022/09/6489762-formula-1-tera-recorde-de-24-corridas-em-2023-veja-as-datas.html"><img class="imgnoticias" src="~/img/corridas.jpg" alt="F1 2023"  width="250px" heigth="200px"/>
            <h5 class="">Fórmula 1 terá recorde de 24 corridas em 2023. Veja as datas</h5></a>
    </div>

    <div class="noticia4e5">
            <a href="https://www.grandepremio.com.br/f1/noticias/formula-1-confirma-largada-madrugada-brasil-estreia-gp-las-vegas-2023/"><img class="imgnoticias" src="~/img/lasvegas.jpg" alt="Las Vegas"  width="250px" heigth="200px"/>
            <h5 class="">Fórmula 1 confirma largada na madrugada do Brasil em estreia do GP de Las Vegas em 2023</h5></a>
    </div>

    <div class="noticia4e5">
            <a href="https://ge.globo.com/motor/formula-1/noticia/2022/09/20/alonso-teria-tentado-agradar-equipe-da-mclaren-com-dinheiro-em-2007.ghtml"><img class="imgnoticias" src="~/img/alonsohamilton.jpg" alt="Alonso x Hamilton"  width="250px" heigth="200px"/>
            <h5 class="">Alonso teria oferecido dinheiro por apoio contra Hamilton na McLaren</h5></a>
    </div>

    <div class="noticia4e5">
            <a href="https://www.autoracing.com.br/como-esta-a-potencia-dos-motores-da-formula-1-atualmente/"><img class="imgnoticias" src="~/img/motores.jpg" alt="Motor"  width="250px" heigth="200px"/>
            <h5 class="">Como está a potência dos motores da Fórmula 1 atualmente?</h5></a>
    </div>

    <div class="noticia4e5">
            <a href="https://www.terra.com.br/esportes/automobilismo/formula1/monaco-acerta-novo-vinculo-com-formula-1-e-permanece-no-calendario-ate-2025,caedd683fba931d60bf521541a3fe586uw33pxir.html"><img class="imgnoticias" src="~/img/monaco.jpg" alt="GP MONACO"  width="250px" heigth="200px"/>
            <h5 class="">Mônaco acerta novo vínculo com Fórmula 1 e permanece no calendário até 2025</h5></a>
    </div>
</div>

<div class="header">
    <div class="divnoticias">
        <h3 align="center">MERCEDES</h3>
        <div><a href="https://www.torcedores.com/noticias/2022/09/f1-ocon-fala-sobre-substituir-hamilton-na-mercedes-f1-ha-essa-conexao">F1: Ocon fala sobre substituir Hamilton na Mercedes F1: “Há essa conexão”</a></div><br>
        <div><a href="https://www.grandepremio.com.br/f1/noticias/mercedes-defende-que-perda-de-posicao-por-troca-de-motor-e-mal-necessario-na-formula-1/">Mercedes defende que perda de posição por troca de motor é “mal necessário” na Fórmula 1</a></div><br>
        <div><a href="https://www.grandepremio.com.br/f1/noticias/mercedes-decepciona-w13-decreta-pior-classificacao-ultimos-10-anos/">Mercedes se decepciona com W13 e decreta “pior classificação dos últimos 10 anos”</a></div><br>
        <div><a href="https://www.torcedores.com/noticias/2022/09/formula-1-toto-wolff-sobe-tom-na-mercedes-e-indica-momento-crucial-do-ano">Fórmula 1: Toto Wolff sobe tom na Mercedes e indica momento “crucial” do ano</a></div><br>
        <div><a href="https://www.grandepremio.com.br/f1/noticias/mercedes-boas-vindas-ve-f1-mais-dificil-chegadas-audi-porsche/">Mercedes dá boas-vindas e vê F1 “mais difícil” com chegadas de Audi e Porsche</a></div><br>
        <div><a href="https://www.grandepremio.com.br/f1/noticias/jean-alesi-exalta-melhora-afasta-vitoria-condicoes-normais-mercedes-2022/">Alesi exalta melhora, mas afasta vitória “em condições normais” da Mercedes em 2022</a></div><br>
        <div><a href="https://www.torcedores.com/noticias/2022/09/f1-chefe-da-mercedes-revela-data-em-que-hamilton-deve-se-aposentar">Chefe da Mercedes revela data em que Hamilton dece se aposentar</a></div><br>
        <div><a href="F1: chefe da Mercedes revela data em que Hamilton deve se aposentar">F1: chefe da Mercedes revela data em que Hamilton deve se aposentar</a></div><br>
    </div>

    <div class="divnoticias">
        <h3 align="center">RED BULL</h3>
        <div><a href="https://motorsport.uol.com.br/f1/news/f1-red-bull-abandona-chassi-mais-leve-mesmo-assim-pode-ser-contabilizado-no-orcamento-de-22/10371650/">Red Bull 'abandona' chassi mais leve, que mesmo assim pode ser contabilizado no orçamento de 2022</a></div><br>
        <div><a href="https://motorsport.uol.com.br/f1/news/f1-red-bull-revela-que-sera-capaz-de-fornecer-motores-para-ate-quatro-equipes/10372127/">F1: Red Bull revela que será capaz de fornecer motores para até quatro equipes</a></div><br>
        <div><a href="https://www.grandepremio.com.br/f1/noticias/red-bull-vencer-seis-corridas-restantes-formula-1-2022-seria-pedir-muito/">Red Bull diz que vencer seis corridas restantes da F1 2022 “seria pedir muito”</a></div><br>
        <div><a href="https://motorsport.uol.com.br/f1/news/f1-com-bicampeonato-encaminhado-verstappen-compara-momento-atual-da-red-bull-com-epoca-do-kart/10371627/">F1: Com bicampeonato encaminhado, Verstappen compara momento atual da Red Bull com época do kart</a></div><br>
        <div><a href="https://www.band.uol.com.br/esportes/automobilismo/formula-1/noticias/f1-2022-verstappen-recordes-16535332">Os cinco recordes que Verstappen pode quebrar na temporada 2022 de F1</a></div><br>
        <div><a href="https://www.f1mania.net/f1/f1-honda-estaria-perto-de-retomar-parceria-com-a-red-bull/">F1: Honda estaria perto de retomar parceria com a Red Bull</a></div><br>
        <div><a href="https://motorsport.uol.com.br/f1/news/f1-raikkonen-impediu-que-sauber-se-transformasse-em-red-bull-racing/10356913/">F1: Raikkonen impediu que Sauber se transformasse em Red Bull Racing</a></div><br>
        <div><a href="https://motorsport.uol.com.br/f1/news/f1-marko-desconversa-sobre-interesse-de-red-bull-em-drugovich-mas-brasileiro-pode-ir-a-pista-com-al/10364248/">F1: Marko desconversa sobre interesse de Red Bull em Drugovich, mas brasileiro pode ir à pista com AlphaTauri em Interlagos</a></div><br>
        </div>
    <br>
    <br>

    <div class="divnoticias">
        <h3 align="center">FERRARI</h3>
        <div><a href="https://motorsport.uol.com.br/f1/news/f1-ferrari-tambem-sofre-com-misterio-dos-carros-de-2022-entenda/10371962/">F1: Ferrari também sofre com "mistério" dos carros de 2022; entenda</a></div><br>
        <div><a href="https://www.autoracing.com.br/sainz-ferrari-precisa-ganhar-ritmo-para-2023/">Sainz: Ferrari precisa ganhar “ritmo” para 2023</a></div><br>
        <div><a href="https://www.grandepremio.com.br/f1/noticias/mclaren-revela-surpresa-distancia-red-bull-ferrari-apesar-teto-gastos/">McLaren revela surpresa com distância de Red Bull e Ferrari apesar de teto de gastos</a></div><br>
        <div><a href="https://www.f1mania.net/f1/f1-ferrari-deve-olhar-para-fora-da-formula-1-se-decidir-substituir-binotto-afirmou-ex-presidente-da-scuderia/">F1: Ferrari deve olhar para fora da Fórmula 1 se decidir substituir Binotto, afirmou ex-presidente da Scuderia</a></div><br>
        <div><a href="https://motorsport.uol.com.br/f1/news/f1-ferrari-aposta-em-atualizacoes-para-quebrar-a-hegemonia-da-red-bull-voltando-a-vencer-um-gp/10369844/">F1: Ferrari aposta em atualizações para quebrar a hegemonia da Red Bull voltando a vencer um GP</a></div><br>
        <div><a href="https://www.autoracing.com.br/novo-assoalho-da-ferrari-nao-e-a-causa-da-queda-de-desempenho/">Novo assoalho da Ferrari não é a causa da queda de desempenho</a></div><br>
        <div><a href="https://motorsport.uol.com.br/f1/news/f1-sincerao-leclerc-comenta-influencia-do-safety-car-em-monza/10367843/">F1: 'Sincerão', Leclerc comenta influência do safety car em Monza</a></div><br>
        <div><a href="https://www.terra.com.br/esportes/automobilismo/formula1/leclerc-joga-toalha-por-titulo-da-f1-2022-e-ja-admite-luta-pelo-vice-campeonato,8aaf4d05015d1d0dc361b7b6d1707c9boz7yzqu4.html">Leclerc joga toalha por título da F1 2022 e já admite luta pelo vice-campeonato</a></div><br>
        </div>

    <div class="divnoticias">
        <h3 align="center">MERCADO DE PILOTOS</h3>
        <div><a href="https://motorsport.uol.com.br/f1/news/f1-de-vries-confirma-conversas-com-marko-mas-diz-que-futuro-esta-fora-de-seu-controle/10371507/">F1: De Vries confirma conversas com Marko, mas diz que futuro está "fora de seu controle"</a></div><br>
        <div><a href="https://www.grandepremio.com.br/f1/noticias/sebastian-vettel-cria-caos-mercado-aposentadoria-expoe-falha-renovacao-grid-formula-1/">Aposentadoria de Vettel cria caos no mercado e expõe falha na renovação do grid da F1</a></div><br>
        <div><a href="https://motorsport.uol.com.br/f1/news/f1-por-que-o-mercado-de-pilotos-esta-travado-pelo-caso-piastri/10356901/">F1: Por que mercado de pilotos está travado pelo caso Piastri</a></div><br>
        <div><a href="https://motorsport.uol.com.br/f1/news/f1-hulkenberg-ganha-forca-na-haas-e-de-vries-esta-perto-da-williams/10365869/">F1: Hulkenberg ganha força na Haas e de Vries está perto da Williams</a></div><br>
        <div><a href="https://www.terra.com.br/esportes/automobilismo/formula1/russell-elogia-estreia-de-de-vries-e-compara-com-sakhir-2020-mais-dificil-para-ele,d1b1fd0226985e6da43631a4a7d0e3fa6nbm2b0h.html">Russell elogia estreia de De Vries e compara com Sakhir 2020: "Mais difícil para ele"</a></div><br>
        <div><a href="https://motorsport.uol.com.br/f1/news/f1-herta-fara-teste-privado-com-alpine-em-budapeste-entenda-como-isso-afeta-mercado/10368890/">Herta fará teste privado com Alpine em Budapeste e de Vries é cotado na vaga de Alonso</a></div><br>
        <div><a href="https://projetomotor.com.br/oscar-piastri-alpine-mclaren-contratro-confusao/">Novela explicada: como a Alpine perdeu Oscar Piastri para a McLaren</a></div><br>
        <div><a href="https://www.grandepremio.com.br/f1/noticias/alphatauri-bate-martelo-sobre-futuro-pierre-gasly-f1-2023-so-sai-se-colton-herta-vier/">AlphaTauri bate martelo sobre futuro de Gasly em 2023: “Só sai se Herta vier”</a></div><br>
    </div>
</div>   

<br>
<br>

<div class="divisao">
    <a href="">CONTATO</a> <p>|</p>
    <a href="">POLITICA DE PRIVACIDADE</a> <p>|</p>
    <a href="">ANUNCIE AQUI</a> <p>|</p>
    <a href="">SOBRE NÓS</a> <p>|</p>
</div>

</main>

</body>
</html>