@{
    ViewData["Title"] = "Home Page";
}

<title>Sistema de Pontuação 2022</title>

<link rel= "stylesheet" href="~/css/Style.css" type="text/css"/>
    <header>
        <h1 class="text-center">Sistema de Pontuação F1 2022</h1>
    </header>
    <body>
    <main>
<h1 class="text-center">Fórmula 1 oficializa novo sistema de pontuação em 2022</h1>
<h6 class="text-center">A partir de 2022, os pilotos da F1 vão pontuar de acordo com o total de voltas que conseguirem completar</h6>

<p class="text-center">Após encontro realizado nesta segunda-feira (14), Federação Internacional de Automobilismo (FIA) e 
    escuderias que integram a Fórmula 1 aprovaram um novo sistema de 
    pontuação a ser adotado, nas provas da temporada 2022 que encerrarem antes do previsto.</p>
    <p class="text-center">Com a nova regra, os pilotos vão pontuar conforme a quantidade de voltas que completarem, 
        exceto se a corrida for encerrada com menos de duas voltas. 
        Nesse caso, nenhum piloto vai receber pontos.</p>

        <h3 class="text-center">Veja, a seguir, o novo sistema de pontuação da Fórmula 1</h3>
        <br>

    <div class="container-fluid">
        <div class="row">
                <div class="col-6">
                    
                    <table class="table table-striped" border="1">
                <h4 class="text-center">Menos de 25% da prova concluída</h4>
                <tr>
                <th>Posição</th><th>Pontos</th>
                </tr>
                 <tr>
                <td>1° lugar</td> <td>6 pontos</td>
                </tr>
                <tr>
                <td>2° lugar</td> <td>4 pontos</td>
                </tr>
                <tr>
                <td>3° lugar</td> <td>3 pontos</td>
                </tr>
                <tr>
                <td>4° lugar</td> <td>2 pontos</td>
                </tr>
                 <tr>
                <td>5° lugar</td> <td>1 pontos</td>
                </tr>
                </table>
                </div>

                <div class="col-6">
                <table class="table table-striped" border="1">
                <h4 class="text-center">Entre 25% e 50% da prova concluída</h4>
                <tr>
                <th>Posição</th><th>Pontos</th>
                </tr>
                <tr>
                <td>1° lugar</td><td>13 pontos</td> 
                </tr>
                <tr>
                <td>2° lugar</td><td>10 pontos</td> 
                </tr>
                <tr>
                <td>3° lugar</td><td>8 pontos</td> 
                </tr>
                <tr>
                <td>4° lugar</td><td>6 pontos</td> 
                </tr>
                <tr>
                <td>5° lugar</td><td>5 pontos</td> 
                </tr>
                <tr>
                <td>6° lugar</td><td>4 pontos</td> 
                </tr>
               <tr>
                <td>7° lugar</td><td>3 pontos</td> 
                </tr>
                <tr>
                <td>8° lugar</td><td>2 pontos</td> 
                </tr>
                <tr>
                <td>9° lugar</td><td>1 ponto</td> 
                </tr>
                </table>
                </div>
        </div>
    </div>
           
    <div class="container-fluid">
        <div class="row">
           <div class="col-6">
            <table class="table table-striped" border="1">
            <h4 class="text-center">Entre 50% e 75% da prova concluída</h4>
            <tr>
            <th>Posição</th><th>Pontos</th>
            </tr>
            <tr>
            <td>1° lugar</td><td>19 pontos</td> 
            </tr>
            <tr>
            <td>2° lugar</td><td>14 pontos</td> 
            </tr>
            <tr>
            <td>3° lugar</td><td>12 pontos</td> 
            </tr>
            <tr>
            <td>4° lugar</td><td>9 pontos</td> 
            </tr>
            <tr>
            <td>5° lugar</td><td>8 pontos</td> 
            </tr>
            <tr>
            <td>6° lugar</td><td>6 pontos</td> 
            </tr>
            <tr>
            <td>7° lugar</td><td>5 pontos</td> 
            </tr>
            <tr>
            <td>8° lugar</td><td>3 pontos</td> 
            </tr>
            <tr>
            <td>9° lugar</td><td>2 pontos</td> 
            </tr>
            <tr>
            <td>10° lugar</td><td>1 ponto</td> 
            </tr>
            </table>
            </div>

            <div class="col-6">
            <table class="table table-striped" border="1">
            <h4 class="text-center">Acima de 75% da prova de F1 concluída</h4>
            <tr>
            <td>1° lugar</td><td>25 pontos</td>
            </tr>
            <tr>
            <td>2° lugar</td><td>18 pontos</td>
            </tr>
            <tr>
            <td>3° lugar</td><td>15 pontos</td>
            </tr>
            <tr>
            <td>4° lugar</td><td>12 pontos</td>
            </tr>
            <tr>
            <td>5° lugar</td><td>10 pontos</td>
            </tr>
            <tr>
            <td>6° lugar</td><td>8 pontos</td>
            </tr>
            <tr>
            <td>7° lugar</td><td>6 pontos</td>
            </tr>
            <tr>
            <td>8° lugar</td><td>4 pontos</td>
            </tr>
             <tr>
            <td>9° lugar</td><td>2 pontos</td>
            </tr>
             <tr>
            <td>10° lugar</td><td>1 pontos</td>
            </tr>
            </table>
            </div>
  </div>
    </div>


    </main>
       <br>
<br>

<div class="divisao">
    <a href="">CONTATO</a> <p>|</p>
    <a href="">POLITICA DE PRIVACIDADE</a> <p>|</p>
    <a href="">ANUNCIE AQUI</a> <p>|</p>
    <a href="">SOBRE NÓS</a> <p>|</p>
</div>

</main>

</body>
</html>