@{
    ViewData["Title"] = "Home Page";
}
<link rel= "stylesheet" href="~/css/Style.css" type="text/css"/>
<body class="fundo">
 <header>
        <h1 align="center">Vídeos da F1</h1>
        <h3 align="center">Aqui você encontra uma seleção de vídeos do Youtube de momentos marcantes do esporte!</h3>
        <br>
      
    </header>
    <main>
    
    <div class="displayvideos">
        <div class="divvideos">
            <iframe src="https://www.youtube.com/embed/ft2AwSps36s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>O Último Ídolo do Brasil</p>
        </div>
        
        <div class="divvideos">
            <iframe src="https://www.youtube.com/embed/dOwnvRzgz5U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Mercedes W13 - Carro de 2022</p>
        </div>

        <div class="divvideos">
            <iframe src="https://www.youtube.com/embed/mmhInFsGTBY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Hamilton no Brasil 2021</p>
        </div>
        
        <div class="divvideos">
            <iframe src="https://www.youtube.com/embed/s4S9XoMhoFc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Ultimas Voltas SENNA - Interlagos 91</p>
        </div>

        <div class="divvideos">
           <iframe src="https://www.youtube.com/embed/8AvA4FZNGR0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Grande Prêmio do Brasil 1993</p>
        </div>
        
        <div class="divvideos">
            <iframe src="https://www.youtube.com/embed/d48wPlBxaZI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Hamilton com McLaren MP4/4 do Senna</p>
        </div>

        <div class="divvideos">
           <iframe src="https://www.youtube.com/embed/qcdYJ_yDFHg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p> GP da Bélgica 1985</p>
        </div>
        
        <div class="divvideos">
           <iframe src="https://www.youtube.com/embed/k07e7sXCp6Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p> GP da Itália 1990 • Senna vence</p>
        </div>

         <div class="divvideos">
            <iframe  src="https://www.youtube.com/embed/0ULUzjti89s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>"O Desabafo de Suzuka", por Ayrton Senna!</p>
        </div>
        
        <div class="divvideos">
            <iframe src="https://www.youtube.com/embed/NJIzaL3yMrQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Senna com uma marcha - BRASIL 91</p>
        </div>

        <div class="divvideos">
            <iframe src="https://www.youtube.com/embed/mmhInFsGTBY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>GP BRASIL 93</p>
        </div>
        
        <div class="divvideos">
            <iframe src="https://www.youtube.com/embed/s4S9XoMhoFc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Ultimas Voltas SENNA - Interlagos 91</p>
        </div>

        <div class="divvideos">
           <iframe src="https://www.youtube.com/embed/ETqkWLnM-ZM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>AYRTON SENNA: O Último Ídolo do Brasil</p>
        </div>
        
        <div class="divvideos">
           <iframe src="https://www.youtube.com/embed/Wsvfd4sC0rI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>O maior de todos os tempos!</p>
        </div>

        <div class="divvideos">
            <iframe src="https://www.youtube.com/embed/mmhInFsGTBY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Hamilton no Brasil 2021</p>
        </div>
        
        <div class="divvideos">
            <iframe src="https://www.youtube.com/embed/s4S9XoMhoFc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Ultimas Voltas SENNA - Interlagos 91</p>
        </div>
    </div>
<br>
<br>

<div class="divisao">
    <a href="">CONTATO</a> <p>|</p>
    <a href="">POLITICA DE PRIVACIDADE</a> <p>|</p>
    <a href="">ANUNCIE AQUI</a> <p>|</p>
    <a href="">SOBRE NÓS</a> <p>|</p>
</div>

</main>


</body>
</html>