@{
    ViewData["Title"] = "Home Page";
}

<link rel= "stylesheet" href="~/css/Style.css" type="text/css"/>
<body class="fundo">   
<h1>Cadastro Concluído!</h1>

 
    <br>
<br>

<div class="divisao">
    <a href="">CONTATO</a> <p>|</p>
    <a href="">POLITICA DE PRIVACIDADE</a> <p>|</p>
    <a href="">ANUNCIE AQUI</a> <p>|</p>
    <a href="">SOBRE NÓS</a> <p>|</p>
</div>

</main>

</body>
</html>